{{#if addItem}}
<h1>New Item</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Product Name</label>
        {{input value=name id="name"}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input value=description id="description"}}
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        {{input value=price id="price"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <button class="btn btn-warning" {{action 'save'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-warning" {{action 'itemFormShow'}} >Add New Item</button>
{{/if}}
