
{{#if addNewReview}}
  <h1>New Review</h1>
    <form>
      <div class="form-group">
        <label for="reviewer">Your Name</label>
        {{input value=reviewer id="reviewer"}}
      </div>

      <div class="form-group">
        <label for="review">Your Review</label>
        {{input value=review id="review"}}
      </div>

      <div class="form-group">
        <label for="rating">Your Rating</label>
        <select>
          <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
          <option value="3">&#9733;&#9733;&#9733;</option>
          <option value="2">&#9733;&#9733;</option>
          <option value="1">&#9733;</option>
        </select>
      </div>

      <button {{action 'save'}}>Save</button>
    </form>

{{else}}
  <button {{action 'showReviewForm'}}>New Review</button>
{{/if}}
