<div>
  <h2>{{product.name}}</h2>
  <img src="{{product.image}}" alt="{{product.name}}"><hr>
  <p>{{product.description}}</p>
  <h4>${{product.price}}</h4><hr>
  <button class="btn btn-primary"{{action 'addToCart' product}}>Add to Cart</button>
</div>
